
{# Affichage d'une catégorie et de ses enfants #}


<!-- Affichage des notes de la catégorie mère -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-success">
            <div class="panel-heading" data-toggle="collapse" data-target="#content-{{ categorie.id }}">
                <h3>{{categorie.nom }}</h3>
            </div>
            <div id="content-{{ categorie.id }}" class="panel-body collapse">
                {% for note in categorie.notes %}
                    <div>
                        {{ note.titre }}
                        <span class="pull-right">
                           <a href="{{ path('read', {'id': note.id}) }}" class="glyphicon glyphicon-eye-open"></a>
                           <a href="{{ path('edit', {'id': note.id}) }}" class="glyphicon glyphicon-pencil"></a>
                            <a href="#" class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#modal-{{ note.id }}"></a>
                       </span>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="modal-{{ note.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Êtes-vous sûr de vouloir supprimer cette note ?</h4>
                                </div>
                                <div class="modal-body">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                                            aria-hidden="true" id="delButton" value="{{ note.id }}">Oui</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                {% endfor %}
            </div>
        </div>
    </div>
</div>



<!-- Affichage des sous-catégorie -->
<div class="row">

    <div class="col-md-12">
        <div style="margin-left: 50px;">
        {% if categorie.categories is not null %}
        {% for categorie in categorie.categories %}
            {{ include('AppBundle:Categorie:catEnfant.html.twig') }}
        {% endfor %}
        {% endif %}
        </div>

    </div>
</div>