
{% extends "GebsUserBundle::layout.html.twig" %}


{% block fos_user_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Gestion des utilisateurs</h1>
                <hr>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col_md-12">
                <div id="catMessage">

                </div>
            </div>
        </div>



    <div class="row">
        <div class="col-md-12">
            <table class="table">
            <thead>
                <tr><td>Utilisateurs</td><td>Rôles</td><td>Actions</td></tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                        {% for role in user.roles %}
                            {{ role }},
                        {% endfor %}
                        </td>
                        <td>
                            <a href="#"><span title="supprimer" class="glyphicon glyphicon-trash"
                                data-toggle="modal" data-target="#modal-{{ user.id }}"></span> </a>

                            <div class="modal fade col-md-4" id="modal-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                        <h4 class="modal-title" id="myModalLabel">Êtes-vous sûr de vouloir supprimer cet utilisateur ?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true"
                                                id="delButtonUser" value="{{ user.id }}">Oui</button>
                                    </div>
                                </div>
                            </div>

                            {% if user.enabled == true %}
                                <a href="{{ path('blockUser', {"id":  user.id }) }}"><span title="bloquer" class="glyphicon glyphicon-thumbs-down"></span></a>
                            {% else %}
                                <a href="{{ path('enableUser', {"id":  user.id }) }}"><span title="activer" class="glyphicon glyphicon-thumbs-up"></span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
            </table>
        </div>
    </div>
    </div>

{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/delUser.js') }}"></script>

{% endblock %}
