{% extends "GebsUserBundle::layout.html.twig" %}


{% block fos_user_content %}

    {% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="login-container">
                    <div class="panel panel-default">
                        <div id="heading-connexion" class="panel-heading text-center">Connexion</div>
                        <div class="panel-body">
                            <form class="form-group">
                                <label for="username">{{ 'security.login.username' | trans() }}</label>
                                <input class="form-control" type="text" id="username" name="_username"
                                       value="{{ last_username }}" required="required" /><br>
                                <label for="password">{{ 'security.login.password' | trans() }}</label>
                                <input class="form-control" type="password" id="password" name="_password"
                                       required="required" /><br>
                                <input type="checkbox" id="remember_me" name="_remember_me"
                                       value="on" />
                                <label for="remember_me">{{ 'security.login.remember_me' | trans() }}</label>
                                <input  type="submit" class="login login-submit form-control btn" id="_submit"
                                       name="_submit" value="{{ 'security.login.submit' | trans()}}" />
                            </form>
                        </div>
                    </div>
                    <div class="login-help text-center">
                        <a href="{{ path('fos_user_registration_register') }}">Vous inscrire</a><br/>
                        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
                    </div>


                </div>
            </form>
        </div>
    </div>

{% endblock fos_user_content %}
