{# /src/AppBundle/Resources/views/Default #}

{% extends "GebsUserBundle::layout.html.twig" %}

{% block fos_user_content %}


    {# Div permettant l'affichage des messages JQuery #}
    {# A modifier pour éviter le problème d'affichage lors du chargement de la page#}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="catMessage" class="alert alert-success">La catégorie a été ajoutée avec succès!!</div></div>
            </div>
        </div>
    </div>



        {# Message lors de l'ajout d'une note #}
        {# Modifier pour avoir un affichage bootstrap #}
        {% for message in app.flashes('notice') %}
                {{ message }}
        {% endfor %}



    {% if catId is defined %}
        <input id="catEdit" type="hidden" value="{{ catId }}">
    {% endif %}

    {# Formulaire d'ajout d'une note #}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-12">
            {{ form_errors(form) }}
        </div>
            <div class="col-md-offset-3 col-md-3">
                {{ form_row(form.titre)}}
            </div>

            <div class="col-md-2">{{ form_row(form.categorie) }}</div>

            <div class="col-md-1">
                <a id="addCategory" href="#" title="ajouter une catégorie"
                   class="btn btn-primary glyphicon glyphicon-plus"></a>
            </div>
        <div id="containerForm" class="col-md-3">

        </div>

    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            {{ form_row(form.enonce, {'attr': {'class': 'tinymce' }}) }}
            {{ form_row(form.solution, {'attr': {'class': 'tinymce'}}) }}

        </div>

    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            {{ form_row(form.Ajouter) }}
        </div>
    </div>

    {{ form_end(form) }}



    {# Formulaire pour l'ajout d'une catégorie #}
    <div id="formCategorie">
        {{ include('AppBundle:Formulaires:formCategorie.html.twig') }}
    </div>

{% endblock fos_user_content %}

{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/editNote.js') }}"></script>
    <script src="{{ asset('js/refreshList.js') }}"></script>
    <script src="{{ asset('js/addCategory.js') }}"></script>

    <script>
        var Ajouter = '{{ path('Ajouter') }}';
        var refreshList = "{{ path('refreshList') }}";
    </script>

    {{ tinymce_init({'theme': {'simple': {'menubar': false}}}) }}

{% endblock %}
