{# /src/AppBundle/Resources/views/Default #}

{% extends "GebsUserBundle::layout.html.twig" %}

{% block fos_user_content %}


    {# Div permettant l'affichage des messages JQuery #}
    <div class="container">
        <div class="row">
            <div id="catMessage" class="col-md-12">
                    {# Message lors de l'ajout d'une note #}
                    {% for message in app.flashes('notice') %}
                        {{ message }}
                    {% endfor %}
            </div>
        </div>

    </div>

        {% if catId is defined %}
            <input id="catEdit" type="hidden" value="{{ catId }}">
        {% endif %}

        {# Formulaire d'ajout d'une note #}
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div class="alert-success">
                    {{ form_errors(form) }}
                </div>

            </div>
            <div class="col-md-offset-3 col-md-4">
                {{ form_row(form.titre)}}
            </div>

            <div class="col-md-2">{{ form_row(form.categorie) }}</div>

            <div class="col-md-1">
                <a id="addCategory" href="#" title="ajouter une catégorie"
                   class="btn btn-primary glyphicon glyphicon-plus"></a>
            </div>
            <div id="containerForm" class="col-md-3">

            </div>

        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                {{ form_row(form.enonce, {'attr': {'class': 'tinymce' }}) }}
                {{ form_row(form.solution, {'attr': {'class': 'tinymce'}}) }}

            </div>

        </div>

        <div class="row">
            <div class="col-md-offset-3 col-md-3">
                {{ form_row(form.Ajouter) }}
            </div>
        </div>

        {{ form_end(form) }}



    {# Formulaire pour l'ajout d'une catégorie #}
    {# Prévoir une translation de droite vers la gauche #}
    {# et de gauche à droite pour le retour #}
    <div id="formCategorie">
        {{ include('AppBundle:Formulaires:formCategorie.html.twig') }}
    </div>

{% endblock fos_user_content %}

{% block javascripts %}
         {{ parent() }}
    <script src="{{ asset('js/refreshList.js') }}"></script>
    <script src="{{ asset('js/addCategory.js') }}"></script>

    <script>
        var Ajouter = '{{ path('Ajouter') }}';
        var refreshList = "{{ path('refreshList') }}";
    </script>


{% endblock %}
