{# /src/AppBundle/Resources/views/Default #}

{% extends "GebsUserBundle::layout.html.twig" %}

{% block fos_user_content %}


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="catMessage"></div>
            </div>
        </div>
    </div>

        {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


    {{ form_start(form) }}

    <div class="row">

            <div class="col-md-offset-3 col-md-3">
                {{ form_row(form.titre)}}
            </div>

            <div class="col-md-2">{{ form_row(form.categorie) }}</div>

            <div class="col-md-1">
                <a id="addCategory" href="#" title="ajouter une catégorie"
                   class="btn btn-primary glyphicon glyphicon-plus"></a>
            </div>
        <div id="containerForm" class="col-md-3">

        </div>

    </div>

    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            {{ form_row(form.enonce, {'attr': {'class': 'tinymce' }}) }}
            {{ form_row(form.solution, {'attr': {'class': 'tinymce'}}) }}

        </div>

    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3">
            {{ form_row(form.Ajouter) }}
        </div>

    </div>

    {{ form_end(form) }}

    <div id="formCategorie">
        {{ include('AppBundle:Formulaires:formCategorie.html.twig') }}
    </div>

{% endblock fos_user_content %}
