{% extends "GebsUserBundle::layout.html.twig" %}

{% block stylesheets %}
    <!-- Le styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('ihover/bower_components/ihover/src/ihover.css') }}">
    <link rel="stylesheet" href="{{ asset('css/mesNotes.css') }}">
{% endblock %}


{% block fos_user_content %}

    <div class="container">
        <div class="row">
            {% for categorie in listCategories %}

                    <div class="col-md-4">
                        <!-- normal -->
                        <div class="ih-item square effect13 left_to_right">
                            <a href="{{ path('categorie', {'id': categorie.id}) }}">
                                <div class="img"><img src="{{app.request.basepath}}/uploads/images/{{categorie.image}}" alt="image" /></div>
                                <div class="info">
                                    <h3>{{ categorie.nom }}</h3>
                                    <p>{{ categorie.description }}</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->
                    </div>




            {% endfor %}
        </div>
        <div class="row">

            <ul>
            <div class="pagination">
                {% for p in range(1, nombrePage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('mesNotes', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </div>
            </ul>
        </div>

    </div>

{% endblock fos_user_content %}