{% extends "GebsUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="container">
        <div class="row">
            {% for categorie in listCategories %}

                    <div class="col-md-4">
                        <!-- normal -->
                        <div class="ih-item square effect13 left_to_right">
                            <a href="{{ path('categorie', {'id': categorie.id}) }}">
                                <div class="img"><img src="{{app.request.basepath}}/uploads/images/{{categorie.image}}" alt="image" /></div>
                                <div class="info">
                                    <h3>{{ categorie.nom }}</h3>
                                    <p>{{ categorie.description }}</p>
                                </div>
                            </a>
                        </div>
                        <!-- end normal -->
                    </div>

            {% endfor %}
        </div>
        <div class="row">

            <ul>
            <div class="pagination">
                {% for p in range(1, nombrePage) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('mesNotes', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            </div>
            </ul>
        </div>

    </div>

{% endblock fos_user_content %}